<h1><%= @restaurant["name"] %></h1>
<img src="<%= @restaurant["photo_url"] %>" alt="Descripción de la imagen" width="500" height="300" >
<p><strong>Descripción: </strong> <%= @restaurant["description"] %></p>
<p><strong>Dirección: </strong> <%= @restaurant["address"] %></p>
<p><strong>Ciudad: </strong> <%= @restaurant["city"] %></p>
